.jumbotron {
	background-image: url("../images/bryanpark.jpg");
	background-size: cover;
	height: 30vh;
	color: #000000;
}

#jumboHeading {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
}

.navbar-brand {
	margin-left: 2vw;
}

.nav-item {
	margin-right: 2vw;
}

.container {
	margin-top: 10vh;
}

#aboutMeCard {
	border: none;
	margin-top: 6vh;
}

.portfolioCard {
	width: 20rem;
	margin: 1em;
}

footer {
	background-color: white;
}

.contactLink {
	margin-left: 2vw;
}

#copyright {
	margin-right: 2vw;
}

#connectIcons, #copyright {
	margin-bottom: 0;
}




