body {
	padding-top: 70px;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-header {
	color: #777777;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Berkshire Swash', 'Georgia', Times, serif;
}
.navbar-link {
	font-family: 'Assistant', 'Arial', Helvetica, sans-serif;
	font-size: 18px;
	padding: 20px;
}

.jumbotron {
	background-image: url("../assets/images/bryanpark.jpg");
	background-size: cover;
	color: #000000;
	text-align: center; 
}
.transbox {
	margin: 20px;
	background-color: #ffffff;
	border: 1px solid #000000;
	opacity: 0.7;
}

.panel-default {
	margin: 30px 20px 0 20px;
	text-align: center;
}

.panel-body {
	font-family: 'Assistant', 'Arial', Helvetica, sans-serif;
	font-size: 18px;
}

a {
	padding: 20px;
}

.input-group {
	padding: 10px 0;
}

.buttons{
	padding-top: 20px;
}

.fixed-footer {
	background-color: #ffffff;
	color: #7777777;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
}

small {
	font-size: 15px;
	padding-top: 20px;
}

